.booklist {
    &_container {
        padding: 0;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 30px;

        img {
            width: 300px;
            height: 400px;
        }
    }
}

.bookinfo {
    &_container {
        border: 2px solid $golden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding: 20px 30px;
        box-sizing: border-box;

        h3 {
            font-family: $font-family-regular;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-top: 5px;
        }

        &__section {
            font-weight: bold;
            margin: 10px 0 4px;
        }

        span {
            margin-left: 10px;
            font-family: $font-family-regular;
            color: $color-white;
            font-size: 15px
        }
    }
}

.label {
    color: $color-white;
    font-family: $font-family-regular;
    margin-right: 10px;
}

:global {
    .rfp-touchZone {
        cursor: pointer;
    }
}
